<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Créez, personnalisez et gérez votre équipe Ultimate Team pour EA FC 25 avec des fonctionnalités interactives. Optimisez vos formations tactiques, calculez la chimie d'équipe, et sauvegardez vos configurations." />
    <meta name="keywords" content="Ultimate Team, EA FC 25, gestion d'équipe, formations tactiques, chimie d'équipe, football, FUT, création d'équipe, gestion des joueurs" />
    <meta name="author" content="Nadia Nmissi" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <title>Ultimate Team Manager - Créez et Gérez Votre Équipe EA FC 25</title>
</head>
<body class="bg-gray-100 overflow-x-hidden overflow-hidden font-sans">

    <header class="bg-gray-800 flex justify-between items-center">
        <!-- <h1 class="text-xl font-bold">EA FC 24 Squad Builder</h1> -->
        <nav id="navbar" class="bg-gray-900 text-white w-full fixed top-0 z-30 shadow-lg">
          <div class="container mx-auto flex w-full justify-between items-center py-4 px-6">
            <!-- Logo -->
            <a href="#" class="text-2xl font-bold text-yellow-400 hover:text-yellow-300">Ultimate Team</a>
        
            <!-- Hamburger Menu (pour mobile) -->
            <button id="menu-toggle" class="block md:hidden text-3xl text-white focus:outline-none">
              <i class="fa-solid fa-bars"></i>
            </button>
        
            <!-- Menu Links -->
            <ul id="menu" class="hidden md:flex space-x-8">
              <li><a href="#home" class="nav-link hover:text-yellow-400 transition">Accueil</a></li>
              <li><a href="#builder" class="nav-link hover:text-yellow-400 transition">Équipe</a></li>
              <li><a href="#players" class="nav-link hover:text-yellow-400 transition">Joueurs</a></li>
              <li><a href="#about" class="nav-link hover:text-yellow-400 transition">À propos</a></li>
            </ul>
          </div>
        </nav>
        
          
      </header>
    
      <!-- Contenu Principal -->
    <main class="p-1 justify-center flex  " >
    <!-- Section Formulaire -->
    <!-- Modal -->
    
    <div id="pop_up_ajoute"  class="absolute hidden top-[0] z-20 left-1/2 transform -translate-x-1/2 bg-gray-800 flex justify-center items-center p-4 sm:p-6 md:p-8 w-[90%] max-w-[600px]">
      <div class="bg-gray-900 shadow-2xl rounded-lg w-full relative p-6 sm:p-8">
        <button id="closeButton"
          class="absolute top-2 pt-1 right-4 text-white text-2xl sm:text-4xl w-8 sm:w-10 h-8 sm:h-10 flex items-center justify-center bg-red-500 rounded-full hover:bg-red-600 transition-colors duration-300">
          &times;
        </button>

        <h2 class="text-2xl sm:text-3xl font-bold mb-4 sm:mb-6 text-center text-white">Ajouter une Carte de Joueur</h2>

        <form id="playerForm" class="space-y-4 sm:space-y-6">
          <div class="grid grid-cols-1 col-span-4 sm:grid-cols-1 gap-4 sm:gap-6">
            <div>
              <label for="playerName" class="block text-gray-200 font-semibold mb-2 text-sm sm:text-base">Nom du
                Joueur</label>
              <input type="text" id="playerName"
                class="w-full px-3 py-2 sm:px-4 sm:py-3 border bg-green-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-900"
                placeholder="Entrez le nom du joueur">
            </div>
            
          </div>

          <div>
            <label for="player-position" class="block mb-2 text-sm text-gray-200">Position</label>
            <select id="player-position" class="w-full p-2 rounded-lg text-black bg-green-200">
              <option disabled selected>Choisissez la position du joueur</option>
              <option value="GK">Gardien (GK)</option>
              <option value="CB">Défenseur Central (CB)</option>
              <option value="LB">Latéral Gauche (LB)</option>
              <option value="RB">Latéral Droit (RB)</option>
              <option value="CM">Milieu Central (CM)</option>
              <option value="LM">Milieu Gauche (LB)</option>
              <option value="RM">Milieu Droit (RB)</option>
              <option value="LW">Ailier Gauche (LW)</option>
              <option value="RW">Ailier Droit (RW)</option>
              <option value="ST">Attaquant (ST)</option>
            </select>
          </div>

          <div>
            <label for="nationality"
              class="block text-gray-200 font-semibold mb-2 text-sm sm:text-base">Nationalité</label>
              <select id="player-country" class="w-full p-2 rounded-lg bg-green-200 text-black">
                <option value="" disabled selected>Sélectionnez un pays</option>
                
                <!-- Afrique -->
                <option value="https://cdn.sofifa.net/flags/ma.png">Maroc</option>
                <option value="https://cdn.sofifa.net/flags/sn.png">Sénégal</option>
                <option value="https://cdn.sofifa.net/flags/cm.png">Cameroun</option>
            
                <!-- Europe -->
                <option value="https://cdn.sofifa.net/flags/fr.png">France</option>
                <option value="https://cdn.sofifa.net/flags/it.png">Italie</option>
                <option value="https://cdn.sofifa.net/flags/de.png">Allemagne</option>
                <option value="https://cdn.sofifa.net/flags/es.png">Espagne</option>
                <option value="https://cdn.sofifa.net/flags/gb-eng.png">Angleterre</option>
                <option value="https://cdn.sofifa.net/flags/nl.png">Pays-Bas</option>
                <option value="https://cdn.sofifa.net/flags/pt.png">Portugal</option>
                <option value="https://cdn.sofifa.net/flags/be.png">Belgique</option>
                <option value="https://cdn.sofifa.net/flags/cro.png">Croatie</option>
            
                <!-- Amérique du Sud -->
                <option value="https://cdn.sofifa.net/flags/br.png">Brésil</option>
                <option value="https://cdn.sofifa.net/flags/ar.png">Argentine</option>
                <option value="https://cdn.sofifa.net/flags/uy.png">Uruguay</option>
                <option value="https://cdn.sofifa.net/flags/cl.png">Chili</option>
                
                <!-- Asie -->
                <option value="https://cdn.sofifa.net/flags/kr.png">Corée du Sud</option>
                <option value="https://cdn.sofifa.net/flags/jp.png">Japon</option>
            
                <!-- Amérique du Nord -->
                <option value="https://cdn.sofifa.net/flags/us.png">États-Unis</option>
                <option value="https://cdn.sofifa.net/flags/ca.png">Canada</option>
                <option value="https://cdn.sofifa.net/flags/mx.png">Mexique</option>
            </select>
            
              
          </div>

          <div>
            <label for="photosrc" class="block text-gray-200 font-semibold mb-2 text-sm sm:text-base">Photo du
              Joueur</label>
              <select id="photosrc" class="w-full p-2 rounded-lg bg-green-200 text-black">
                <option disabled selected>Choisissez le nom du joueur pour l'image</option>
            
                <!-- Gardiens de but -->
                <option value="https://cdn.sofifa.net/players/209/981/25_120.png">Yassine Bounou (Morocco)</option>
                <option value="https://cdn.sofifa.net/players/230/621/25_120.png">Gianluigi Donnarumma (Italy)</option>
                <option value="https://cdn.sofifa.net/players/212/380/25_120.png">Ederson (Brazil)</option>
            
                <!-- Défenseurs -->
                <option value="https://cdn.sofifa.net/players/203/376/25_120.png">Virgil van Dijk (Netherlands)</option>
                <option value="https://cdn.sofifa.net/players/205/452/25_120.png">Antonio Rudiger (Germany)</option>
                <option value="https://cdn.sofifa.net/players/235/212/25_120.png">Achraf Hakimi (Morocco)</option>
                <option value="https://cdn.sofifa.net/players/238/292/25_120.png">Noussair Mazraoui (Morocco)</option>
            
                <!-- Milieux de terrain -->
                <option value="https://cdn.sofifa.net/players/177/003/25_120.png">Luka Modrić (Croatia)</option>
                <option value="https://cdn.sofifa.net/players/212/622/25_120.png">Joshua Kimmich (Germany)</option>
                <option value="https://cdn.sofifa.net/players/192/985/25_120.png">Kevin De Bruyne (Belgium)</option>
                <option value="https://cdn.sofifa.net/players/246/126/25_120.png">Azzedine Ounahi (Morocco)</option>
            
                <!-- Attaquants -->
                <option value="https://cdn.sofifa.net/players/211/110/25_120.png">Lionel Messi (Argentina)</option>
                <option value="https://cdn.sofifa.net/players/247/091/25_120.png">Sofiane Boufal (Morocco)</option>
                <option value="https://cdn.sofifa.net/players/216/476/25_120.png">Erling Haaland (Norway)</option>
                <option value="https://cdn.sofifa.net/players/206/113/25_120.png">Hakim Ziyech (Morocco)</option>
            </select>
              
          </div>
          <div>
            <label for="player-club" class="block text-gray-300 font-semibold mb-2">Sélectionnez le club du joueur :</label>
              <select id="player-club" class="w-full p-2 rounded-lg bg-green-200 text-black">
                <option value="" disabled selected>Sélectionnez un club</option>
                <option value="https://cdn.sofifa.net/meta/team/239235/120.png">Inter Miami</option>
                <option value="https://cdn.sofifa.net/meta/team/2506/120.png">Al Nassr</option>
                <option value="https://cdn.sofifa.net/meta/team/503/120.png">Bayern Munich</option>
                <option value="https://cdn.sofifa.net/meta/team/3468/120.png">Real Madrid</option>
                <option value="https://cdn.sofifa.net/meta/team/8/120.png">Liverpool</option>
                <option value="https://cdn.sofifa.net/meta/team/7011/120.png">Al-Hilal</option>
                <option value="https://cdn.sofifa.net/meta/team/14/120.png">Manchester United</option>
                <option value="https://cdn.sofifa.net/meta/team/591/120.png">Paris Saint-Germain</option>
                <option value="https://cdn.sofifa.net/meta/team/682/120.png">PSV</option>
                <option value="https://cdn.sofifa.net/meta/team/88/120.png">Fenerbahçe</option>
                <option value="https://cdn.sofifa.net/meta/team/476/120.png">Al-Ittihad</option>
                <option value="https://cdn.sofifa.net/meta/team/7980/120.png">Atletico Madrid</option>
                <option value="https://cdn.sofifa.net/meta/team/3468/120.png">Barcelona</option>
                <option value="https://cdn.sofifa.net/meta/team/239/085/25_120.png">Manchester City</option>
                <option value="https://cdn.sofifa.net/meta/team/591/120.png">Paris Saint-Germain</option>
                <option value="https://cdn.sofifa.net/meta/team/239235/120.png">Inter Miami</option>
                <option value="https://cdn.sofifa.net/meta/team/7011/120.png">Al-Hilal</option>
                <option value="https://cdn.sofifa.net/meta/team/8/120.png">Liverpool</option>
                <option value="https://cdn.sofifa.net/meta/team/503/120.png">Bayern Munich</option>
                <option value="https://cdn.sofifa.net/meta/team/14/120.png">Manchester United</option>
              </select>
              
              
          </div>
          <div>
            <label for="rating" class="block text-gray-200 font-semibold mb-2 text-sm sm:text-base">Note</label>
            <input type="rating" id="pace" value="97"
              class="w-full px-3 py-2 sm:px-4 sm:py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-900"
              placeholder="">
          </div>
          <div id="stats_joue" class="grid hidden grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 sm:gap-6">
            <div>
              <label for="pace" class="block text-gray-200 font-semibold mb-2 text-sm sm:text-base">Vitesse
                (PAC)*</label>
              <input type="number" id="pace" value="97"
                class="w-full px-3 py-2 sm:px-4 sm:py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-900"
                placeholder="Ex: 97">
            </div>
            <div>
              <label for="shooting" class="block text-gray-200 font-semibold mb-2 text-sm sm:text-base">Tir
                (SHO)*</label>
              <input type="number" id="shooting" value="95"
                class="w-full px-3 py-2 sm:px-4 sm:py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-900"
                placeholder="Ex: 95">
            </div>
            <div>
              <label for="passing" class="block text-gray-200 font-semibold mb-2 text-sm sm:text-base">Passes
                (PAS)*</label>
              <input type="number" id="passing" value="94"
                class="w-full px-3 py-2 sm:px-4 sm:py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-900"
                placeholder="Ex: 94">
            </div>
            <div>
              <label for="dribbling" class="block text-gray-200 font-semibold mb-2 text-sm sm:text-base">Dribble
                (DRI)*</label>
              <input type="number" id="dribbling" value="99"
                class="w-full px-3 py-2 sm:px-4 sm:py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-900"
                placeholder="Ex: 99">
            </div>
            <div>
              <label for="defending" class="block text-gray-200 font-semibold mb-2 text-sm sm:text-base">Défense
                (DEF)*</label>
              <input type="number" id="defending" value="35"
                class="w-full px-3 py-2 sm:px-4 sm:py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-900"
                placeholder="Ex: 35">
            </div>
            <div>
              <label for="physical" class="block text-gray-200 font-semibold mb-2 text-sm sm:text-base">Physique
                (PHY)*</label>
              <input type="number" id="physical" value="86"
                class="w-full px-3 py-2 sm:px-4 sm:py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-900"
                placeholder="Ex: 68">
            </div>
          </div>
          <div id="stats_GK" class="grid hidden grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 sm:gap-6">
            <div>
              <label for="diving" class="block text-gray-200 font-semibold mb-2 text-sm sm:text-base">Plongée (DIV)*</label>
              <input type="number" id="diving" value="89"
                class="w-full px-3 py-2 sm:px-4 sm:py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-900"
                placeholder="Ex: 89">
            </div>
            <div>
              <label for="handling" class="block text-gray-200 font-semibold mb-2 text-sm sm:text-base">Manche (HAN)*</label>
              <input type="number" id="handling" value="90"
                class="w-full px-3 py-2 sm:px-4 sm:py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-900"
                placeholder="Ex: 90">
            </div>
            <div>
              <label for="kicking" class="block text-gray-200 font-semibold mb-2 text-sm sm:text-base">Dégagement (KIC)*</label>
              <input type="number" id="kicking" value="78"
                class="w-full px-3 py-2 sm:px-4 sm:py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-900"
                placeholder="Ex: 78">
            </div>
            <div>
              <label for="reflexes" class="block text-gray-200 font-semibold mb-2 text-sm sm:text-base">Réflexes (REF)*</label>
              <input type="number" id="reflexes" value="92"
                class="w-full px-3 py-2 sm:px-4 sm:py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-900"
                placeholder="Ex: 92">
            </div>
            <div>
              <label for="speed" class="block text-gray-200 font-semibold mb-2 text-sm sm:text-base">Vitesse (SPD)*</label>
              <input type="number" id="speed" value="50"
                class="w-full px-3 py-2 sm:px-4 sm:py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-900"
                placeholder="Ex: 50">
            </div>
            <div>
              <label for="positioning" class="block text-gray-200 font-semibold mb-2 text-sm sm:text-base">Positionnement (POS)*</label>
              <input type="number" id="positioning" value="88"
                class="w-full px-3 py-2 sm:px-4 sm:py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-900"
                placeholder="Ex: 88">
            </div>
          </div>
          

          <div class="text-center">
            <input type="submit" id="btnajout"
              class="bg-green-600 hover:bg-red-700 text-white font-semibold px-6 py-3 rounded-lg transition-colors duration-300" value="Ajouter">
          </div>

        </form>
      </div>
    </div>
    
    
<!-- <h2 class="text-2xl font-semibold mb-4">Équipe</h2> -->
    <!-- Section Équipe -->
     <section  class="grid grid-cols-1 mx-auto  md:grid-cols-4 gap-0 p-8 md:gap-4 w-full justify-self-center justify-center">
      
        <div class="mx-auto md:ml-0 bg-gray-800 md:w-full md:-pb-[100px]  md:col-span-3 w-full  md:pb-4 rounded-lg sm:max-[500px] grid grid-rows-4 grid-cols-5 col-span-1 mt-16 h-screen gap-4 relative"  id="main">
          <h2 class="text-2xl font-semibold mb-4">Équipe</h2>
  
        </div>
          
        <div id="info" class="bg-gray-900 text-white p-6 mt-20 rounded-lg mx-auto shadow-md w-full block col-span-4  md:block md:col-span-1 mb-10">
            <!-- Create Squad -->
            <div class="mb-6">
              <label for="search-team" class="block text-sm font-medium">Create Squad</label>
              <div class="relative mt-2">
                <input id="search-team" type="text" placeholder="Squad name"
                  class="w-full bg-gray-800 border border-gray-700 rounded-lg p-2 text-sm focus:outline-none focus:ring-2 focus:ring-green-500">
                <button id="search-team-btn"
                  class="absolute inset-y-0 right-2 flex items-center px-2 bg-gray-800 text-gray-400 rounded-lg focus:outline-none">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          
            <!-- Squad Info -->
            <div class="border-t  border-gray-700 pt-4">
              <label class="block text-sm font-medium mb-2">Squad Info</label>
              <div class="flex items-center flex-col  justify-between mb-4">
                <select id="formation-selector" class="bg-gray-800 mb-6 border border-gray-700 rounded-lg p-2 text-sm focus:outline-none focus:ring-2 focus:ring-green-500">
                  <option value="" disabled selected>Choisir une formation</option>
                    <option value="4-4-2">4-4-2</option>
                    <option value="4-3-3">4-3-3</option>
                    <option value="5-3-2">5-3-2</option>
                </select>
                <div class="flex items-center space-x-1 text-yellow-400">
                  <span>Squad Rating: 32</span>
                  <div class="flex">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
              </div>
              
          
              <!-- Full Squad Averages -->
              <div class="text-center text-sm text-gray-400 mb-4">
                <span class="cursor-pointer hover:text-white">Full Squad Averages</span>
                <i class="fas fa-chevron-down ml-1"></i>
              </div>
            </div>
          
            <button id="add_joueur"  class="bg-green-500 h-10 -ml-15  w-full rounded-lg flex items-center text-4 justify-center ">Ajouter une joueur</button>
            <!-- Total Chemistry -->
            <div class="border-t border-gray-700 pt-4">
              <label class="block text-sm font-medium mb-2">Total Chemistry</label>
              <div class="flex items-center justify-between">
                <div class="w-full bg-gray-800 h-2 rounded-full relative overflow-hidden">
                  <div class="bg-green-500 h-full w-1/3 absolute"></div>
                </div>
                <span class="ml-3 text-sm">6/33</span>
              </div>
            </div>
            <div class="mt-4">
              <input id="team-name" type="text" placeholder="Nom de l'équipe" 
                     class="w-full px-3 py-2 bg-gray-800 border border-gray-700 rounded-lg focus:outline-none" />
              <button id="save-team-btn"
                      class="mt-2 px-4 py-2 w-full bg-green-500 text-white rounded-lg">
                  Enregistrer la formation
              </button>
          </div>
        </div>




        <div class=" col-span-4 h-auto  lg:h-[400px] gap-4 p-4 rounded-lg "><div id="reserve"  class="grid sm:grid-cols-3 grid-cols-1 lg:grid-cols-5 ">
          <!-- Reserve Player Card 1 -->
           <!-- Manager -->
          
        
        </div></div>
        <div class="col-span-4 h-auto w-full">
          <div id="saved-teams" class="mt-6">
            <!-- Les équipes sauvegardées seront affichées ici -->
        </div>
        </div>
           
     </section>
   
  </main>

    <!-- Footer -->
    <footer class="bg-gray-800 text-white text-center p-4 mt-6 ">
      <p>&copy; 2024 Ultimate Team Manager</p>
    </footer>
  
    <!-- Lien vers le fichier JavaScript -->
    <script src="../assets/js/script.js"></script>
</html>