body{
    background: url("../imgs/stadebg.jpg") no-repeat center center/cover;
}
#main{
    background: url(../imgs/pitchonly.png) no-repeat center center/cover;
    height: 100vh;
    
}

#reserve {
    display: flex;
    animation: scroll 20s linear infinite; /* Animation continue */
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
    0%{
        transform: translateX(100%);
    }
}


/* parie pour alert */
#custom-alert-box {
    z-index: 1000;
}

.bg-opacity-50 {
    background: rgba(0, 0, 0, 0.5);
}
