body{
    background: url("https://media.playstation.com/is/image/SCEA/fifa-19-stadium-background-blur-01-ps4-us-08jun18?$native_nt$") no-repeat center center/cover;
}
#main{
    background: url(../imgs/pitchonly.png) no-repeat center center/cover;
    height: 100vh;
    
}

#reserve {
    display: flex;
    animation: scroll 10s linear infinite; /* Animation continue */
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}